@import url("https://use.typekit.net/zna8lui.css");

#head1 {
  display: flex;
  padding: 20px;

  background-color: rgb(252, 250, 250);
}

#logo {
  width: 250px;

}

#search {
  width: 52%;

  display: flex;

}

#search-bar {
  width: 90%;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 5px;
  border: none;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  font-family: quicksand, sans-serif;

  font-weight: 400;

  font-style: normal;
  font-size: 17px;
  padding-left: 30px;
  outline: none;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  font-family: quicksand, sans-serif;

  font-weight: 400;

  font-style: normal;

}

#search-icon {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 18%;
  border: none;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  color: white;
  background-color: black;
  font-family: quicksand, sans-serif;

  font-weight: 400;

  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}

#login-signup {

  margin-top: 22px;
  font-size: 20px;
  color: black;
  font-family: quicksand, sans-serif;

  font-weight: 400;


}

.icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-top: 15px;
}

#heart {
  margin-left: 120px;
}

#user {
  margin-left: 120px;

  /*    Carousel      */

}

.carousel {
  background: #fff;
  width: 100%;



}

.carousel-cell {

  width: 100%;


  margin: 0px;
  /* center images in cells with flexbox *
   display: flex;
    align-items: center;
    justify-content: center; */
}

.carousel.is-fullscreen .carousel-cell {
  width: 100%;
}

.carousel-cell-image {
  display: block;
  width: 100%;

}

.carousel.is-fullscreen .carousel-cell-image {
  width: 100%;

}


.refer-h1 {

  margin-top: 35px;
  text-align: center;
  padding: 25px;
  font-family: quicksand, sans-serif;
  font-size: 40px;
}

#refimg {

  width: 92%;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 60px;
  margin-bottom: 10px;

}

#ref-h2 {
  margin-top: 10px;
}

#video {

  margin-left: 150px;
}

/*  dropdown navbar */

.navbar {
  overflow: hidden;
  height: 60px;
  padding-left: 40px;
  background-color: rgb(255, 255, 255);
}

.navbar a {
  float: left;
  font-size: 17px;
  color: #6c757d;
  font-weight: 700;
        
         font-style: normal;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px; 
  font-weight: 700;
       
         font-style: normal;
  border: none;
  outline: none;
  color: #6c757d;
  padding: 20px 30px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  /*background-color: red;*/
  text-shadow:2px 2px 5px  #6c757d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 16px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: quicksand, sans-serif;
  font-size:13px;
  font-weight:500;
  
  line-height:1.6;
}

.dropdown-content a:hover {
 
  font-weight:600;
}

.dropdown:hover .dropdown-content {
  display: block;
}