@import url("https://fonts.googleapis.com/css?family=Quicksand");
* {
  font-family: Quicksand;
}

#navlogin{
cursor: pointer;

}

#signappend{
  display: none;
  position: absolute;
  margin-right: -55%;
  margin-top: -25px;
  animation: right 1s;
  z-index: 1;
  right: 745px;
}

@keyframes right{
  from{
  transform: translateX(700px);
  }
  to{
    transform: translateX(0px);
  }
  }
  
  #navlogin{
    display: flex;
    align-items: center;
  }













































  /* * {
  font-family: Quicksand;
}

#navlogin{
cursor: pointer;
}

#signappend{
  display: none;
  position: absolute;
  margin-right: -55%;
  margin-top: -25px;
  animation: right 2s;
  z-index: 1;
}

@keyframes right{
  from{
  transform: translateX(650px);
  }
  to{
    transform: translateX(50);
  }
  }
  
  #navlogin{
    display: flex;
    align-items: center;
    
  }

  
   */