#mainfooter{
    background-color: black;
    text-align: center;
    color: gray;
    font-family: sans-serif;

}
#footersugaricon>img{
    height: 140px;
    width: 140px;
}
#footersocialmedia>img{
    height: 25px;
    width: 25px;
  
}
#footersocialmedia{
    display: flex;
    justify-content: center;
    gap: 40px;
}
#twofooters{
    display: flex;
    
    justify-content: space-around;
    margin-top: 40px;

}

#thright img{
    height: 30px;
    width: 100px;
}
#tfleft{
    width: 450px;
    text-align: left;
    
}
#footsignup>input{
    background-color: black;
    color: gray;
    height: 30px;
    width: 300px;
    border: none;
    border-bottom: 2px solid white;
}
#footsignup{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    
}
#footsignup>button{
    border-radius: 4px;
    background-color: rgb(240, 52, 83);
    padding: 10px;
    color: aliceblue;
}
#thright{
    
    width: 500px;
    text-align: left;
}
#thr1{
    display: flex;
}
#thr1>p{
    width: 180px;
}
#playstore{
    display: flex;
    align-items: center;
}
#write1{
    display: flex;
    gap: 80px;
    margin-left: 100px;
}

#git{
    margin-top: 20px;
    margin-left: 7.4%;
    display: flex;
    justify-content: left;
    font-weight: 500;
    color: aliceblue;
}
#foot{
    display: flex;
    /* gap: 50px; */
    justify-content: space-evenly;
}
#footlast{
    color: white;
    font-weight: 500;
    padding: 15px;
}
#fut{
    display: flex;
    gap: 10px;
}
.footseclast,#footseclast1{
    text-align: left;
}
.footseclast >p:first-child,#fut p{
    color: aliceblue;
    font-weight: 400;
}
#footseclast1>p{
    margin-top: 0px;
}